/* Main Section Start's______________________________________________________ */

main {
    width: 100%;
    background-color: whitesmoke;
    padding: 20px 40px;
}




/* Information Section Start's_____________________________________________ */

.infoSect {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.infoCrd {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
    gap: 30px;
}

/* .infoCrd1 {} */

.infoCrd2 {
    border-inline: 1px solid grey;
    padding-left: 10px !important;
}

/* .infoCrd3 {} */

.infoSvg svg {
    width: 50px;
    height: 50px;
    fill: rgb(0, 139, 185);
    transition: 0.2s;
}

.infoCrd:hover svg {
    transform: translateY(-5px);
}

.infoMsgDtl {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoMsg {
    color: gray;
    font-size: 14px;
}

.infoDetail {
    font-size: 18px;
    font-weight: 500;
}

/* Information Section Start's_____________________________________________ */




/* Cards Section Start's____________________________________________ */


.cardsContainer {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px grey;
}

.card1 {
    background-color: #3eb8d7;
}


.card2 {
    background-color: #0392ce;
}


.card3 {
    background-color: #3065b5;
}


.cards {
    color: white;
    /* width: 325px; */
    width: 100%;
    height: 290px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.cards span {
    font-size: 12px;
}

.cards .spanLorem {
    font-size: 14px;
}

.cards button {
    color: white;
    background-color: transparent;
    border: 1px solid cyan;
    padding: 10px 15px;
    cursor: not-allowed !important;
}

.timingsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.actlTimings {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(123, 186, 250, 0.7);
}

/* .days {} */

/* .timings {} */

/* Cards Section End's____________________________________________ */









/* About Section 1 Start's___________________________________________________________ */

.about {
    padding: 20px 40px;
    margin-block: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 5px 10px grey, inset 0px 5px 0px dodgerblue;
    border-radius: 20px;
}

.aboutHeading {
    color: dodgerblue;
    font-size: 32px;
}

.aboutPara {
    color: dodgerblue;
    font-size: 20px;
    font-weight: 600;
}


/* About Section 1 End's___________________________________________________________ */







/* About Section 2 Start's___________________________________________________________ */


.aboutCardsContainer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.abtCrd {
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border-inline: 1px solid dodgerblue;
}

.abtCrd1 {
    border-left: none;
}

.abtCrd4 {
    border-right: none;
}

.abtSvg svg {
    width: 60px;
    height: 60px;
    fill: dodgerblue;
    stroke: dodgerblue;
}

.abtCrdDiv2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

/* .abtCrdH5 {} */

.abtCrdMsg {
    color: rgb(88, 88, 88);
    font-size: 14px;
}


/* About Section 2 End's___________________________________________________________ */



































/* Media Queries Start's_________________________________________ */

@media screen and (min-width: 1700px) {
    main {
        display: flex !important;
        flex-direction: column;
        gap: 30px;
    }
    main > section {
        max-width: 1620px;
        margin: auto !important;
    }
}

@media screen and (max-width: 820px) {

    /* Cards Section Start's____________________________________________ */

    .cardsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards {
        color: white;
        width: 100%;
        height: 310px;
        padding: 30px 30px 10px 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        transition: all 0.3s ease-in-out;
    }


    /* Information Section Start's_____________________________________________ */

    .infoSect {
        width: 100%;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .infoCrd {
        width: 100%;
        padding: 20px 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 30px;
    }


    .infoCrd2 {
        border-block: 1px solid dodgerblue;
        border-inline: none;
    }


    .infoSvg svg {
        width: 50px;
        height: 50px;
    }

    .infoMsg {
        font-size: 16px;
    }

    .infoDetail {
        font-size: 20px;
    }


    /* About Section 2 Start's___________________________________________________________ */

    .aboutCardsContainer {
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }

    .abtCrd {
        width: 350px;
        border: none;
    }

}

@media screen and (max-width: 786px) {

    /* About Section 2 Start's___________________________________________________________ */

    .aboutCardsContainer {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .abtCrd {
        width: 300px;
    }

}

@media screen and (max-width: 685px) {

    /* About Section 2 Start's___________________________________________________________ */

    .aboutCardsContainer {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .abtCrd {
        width: 250px;
    }

}

@media screen and (max-width: 585px) {

    /* About Section 2 Start's___________________________________________________________ */

    .aboutCardsContainer {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .abtCrd {
        width: 100%;
    }

    .abtCrd2,
    .abtCrd3 {
        border-block: 1px solid dodgerblue;
    }

    .abtSvg svg {
        width: 80px;
        height: 80px;
        fill: dodgerblue;
        stroke: dodgerblue;
    }

    .abtCrdH5 {
        font-size: 28px;
    }

    .abtCrdMsg {
        color: rgb(88, 88, 88);
        font-size: 18px;
    }

}

@media screen and (max-width: 390px) {

    .infoSvg svg {
        width: 45px;
        height: 45px;
    }

    .infoMsg {
        font-size: 12px;
    }

    .infoDetail {
        font-size: 16px;
    }

}

@media screen and (max-width: 350px) {

    .infoCrd {
        gap: 10px;
    }

    .infoSvg svg {
        width: 40px;
        height: 40px;
    }

    .infoMsg {
        font-size: 12px;
    }

    .infoDetail {
        font-size: 16px;
    }

}