main {
    display: flex;
    justify-content: center;
}

.loginContainer {
    margin-block: 20px;
    padding: 30px 30px;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-radius: 5px;
    width: 500px;
}

.loginContainer span {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 45px !important;
    line-height: 2 !important;
    margin-bottom: -8px !important;
}


/* Inputs___________________________________________ */

#email {
    background-image: url(../logo_icons/icons/envelope.svg);
}

#password {
    background-image: url(../logo_icons/icons/lock.svg);
}

input {
    width: 350px;
    padding: 3px;
    outline: none;
    border: 1px solid deepskyblue;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 3px 4px;
    padding-left: 30px;
    position: relative;
    z-index: 9 !important;
    transition: all 0.1s;
}

input:focus {
    border: 1px solid dodgerblue;
    transform: scale(1.1);
}


.errorMsg {
    opacity: 0;
    color: red;
    text-shadow: 0px 0px 5px red;
    margin: 5px 0px -10px 5px;
    transition: all 0.1s;
}

.errorMsg.showErr {
    opacity: 1;
}


.textClip {
    color: transparent;
    background: linear-gradient(to right, red, blue);
    background-clip: text;
}


/* Register button_________________________________________________ */

.Btn {
    font-size: large;
    font-weight: 500;
    padding: 2px 15px;
    padding-bottom: 4px;
    border: 1px solid dodgerblue;
    border-radius: 20px;
    transition: all 0.2s;
}


.Btn:hover {
    color: white;
    background-color: dodgerblue;
    border-color: transparent;
    transform: scale(1.1);
}

.Btn:focus {
    transform: scale(1);
}

@media screen and (max-width: 450px) {

    main {
        width: 500px;
    }

    .loginContainer {
        width: 100%;
    }

    .loginContainer span {
        width: 100%;
    }

    input {
        width: 100%;
    }

.Btn {
    margin-top: -20px;
}

}

@media screen and (max-width: 380px) {

    h1 {
        font-size: 30px !important;
        line-height: 2 !important;
        margin-bottom: -8px !important;
    }

}